@import '../../app.scss';

.mini-gray {
  color: $color-grey-3;
}

.light-gray {
  color: $color-grey-2;
}

.gray {
  color: $color-grey-1;
}

.black {
  color: $color-black-1 !important;
}

.bold {
  font-weight: 800;
}

.qz-pay-modal-title {
  font-weight: bold;
  font-size: $font-size-lg;
  margin-bottom: $spacing-v-sm;
}

.qz-pay-modal-content_text {
  font-size: $font-size-base;
  margin-top: $spacing-v-sm;
}

.qz-pay-modal-content_tip {
  text-align: left;
  padding: 0 $spacing-h-md;
  font-size: $font-size-sm;
}

.qz-pay-modal-content_tip-highlight {
  display: flex;
  text-align: left;
  padding: 0 $spacing-h-md;
  font-size: $font-size-sm;

  .highlight {
    background: $color-highlight;
    color: $color-text-base-inverse;
    border-radius: 5px;
    padding: 0 $spacing-h-md;
  }
}

.qz-pay-modal-support {
  display: flex;
  align-items: center;
  justify-content: center;

  &-image {
    width: $font-size-base;
    height: $font-size-base;
    animation: zoom ease-in-out 1s infinite;
  }

  &-text {
    animation: zoom ease-in-out 1s infinite;
  }
}

.qz-pay-modal-content_content {
  position: relative;
}

.qz-pay-modal-content_gift {
  position: absolute;
  top: 0;
  right: 0;
  font-size: $font-size-xs;
  font-weight: 800;
  color: $color-text-base-inverse;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
  padding: 2px 4px;

  image {
    width: $font-size-xs;
    height: $font-size-xs;
  }

  text {
    margin-left: $spacing-v-xs;
  }
}

.qz-pay-modal-leauge-member {
  position: absolute;
  top: 18px;
  right: 18px;
  border-radius: 33px 0 0 33px;
  z-index: $zindex-flot-layout;
  background: $color-white;
  box-shadow: 0 0 10px #000;
  height: 66px;
  padding: 0 10px 0 10px;
  image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  text{
    display: inline-block;
    vertical-align: middle;
    margin: auto 0 auto 10px;
    color: $color-white;
    font-size: $font-size-sm;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.9);
  }

  40% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(0.9);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
