@import '../../app.scss';

.qz-league-content {
  width: 100%;
  height: 100%;
  position: relative;

  &-search {
    width: 100%;
    height: 100px;
    position: fixed;
    //top: 0;
    z-index: $zindex-drawer;
    background-color: $color-bg-green-main;
    &-bar {
      background-color: $color-bg-green-main;

      .at-search-bar {
        background-color: $color-bg-green-main;

        &__action {
          background-color: $color-bg-green-main;
        }
      }
    }
  }
}

.qz-league__result {
  &-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: $spacing-v-md;
    //padding-top: 100px;

    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      padding: 0 5%;
    }
  }
}

.qz-league-loading {
  width: 100vw;
  height: 10vw;
  position: relative;
  margin-top: $spacing-v-md;
}

.qz-league-tabs {
  width: 100%;
  padding-top: 85px
}
.qz-league__top-tabs__content {
  width: 100%;
}

.qz-league__top-tabs__content--fixed {
  .at-tabs__header {
    position: fixed;
    //top: 85px;
    z-index: $zindex-drawer;
  }
  .at-tabs__body{
    padding-top: 85px;
  }
}
