@import '../../../../app';

.qz-chatting-room {
  position: relative;
  //height: calc(100vh - (9 / 16 * 100vw) - 48px - 1.45 * 28px - 208px - 88px - 48px); //减去tab的高度
  background-color: $color-bg-grey;

  &__loading {
    width: 100vw;
    height: 10vw;
    position: absolute;
    top: $spacing-v-md;
    left: 0;
  }

  &__chat-content {
    position: absolute;
    top: 0;
    //height: calc(100vh - (9 / 16 * 100vw) - 48px - 1.45 * 28px - 208px - 88px - 48px - 110px); //减去tab的高度
    width: 100vw;

    &__container {
      //min-height: calc(100vh - (9 / 16 * 100vw) - 48px - 1.45 * 28px - 208px - 88px - 48px - 110px); //减去tab的高度
      width: 94vw;
      padding: 3vw;
    }
  }

  &__chat-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: $spacing-v-md;
  }

  &__chat-item-hint {
    width: 100%;
    text-align: left;
    color: $color-text-placeholder;
    font-size: $font-size-sm;
  }

  &__chat-item-left {
    justify-content: flex-start;

    .qz-chatting-room__chat-text-container {
      .qz-chatting-room__chat-text__text:before {
        content: "";
        width: 0;
        height: 0;
        border-width: 20px;
        border-style: solid;
        border-color: $color-bg-green-main transparent transparent transparent;
        position: absolute;
        left: calc(90px + 3vw);
      }
    }
  }

  &__chat-item-right {
    justify-content: flex-end;

    .qz-chatting-room__chat-text-container {
      .qz-chatting-room__chat-text__text:before {
        content: "";
        width: 0;
        height: 0;
        border-width: 20px;
        border-style: solid;
        border-color: $color-bg-green-main transparent transparent transparent;
        position: absolute;
        right: calc(90px + 3vw);
      }
    }
  }

  &__chat-item-center {
    justify-content: center;

    .qz-chatting-room__chat-text__broadcast {
      width: 100%;
      text-align: center;
      color: $color-text-placeholder;
      font-size: $font-size-sm;
    }
  }

  &__chat-avatar-container {
    height: 100px;
    width: 100px;
  }

  &__chat-avatar {
    &__avatar {
      width: 100px;
      display: flex;
      justify-content: center;
      position: relative;

      .level {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        margin: 0;
        padding: 4px 4px 3px 4px;
        border: 1px solid #fff;
        box-sizing: border-box;
        color: #fff;
        background-color: #000;
        font-size: $font-size-xxs;
        line-height: $line-height-base;
        font-weight: normal;
        transform: translateY(-100%);
      }

      image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    &__name {
      width: 100px;
      overflow: hidden;
      display: flex;

      &-text {
        font-size: $font-size-xs;
        color: $color-text-paragraph;
        line-height: $line-height-base;
        //width: 100%;
        height: $font-size-xs * 2 * $line-height-base !important;
        text-align: center;
        display: -webkit-box;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: auto;
      }
    }
  }

  &__chat-text-container {
    text-align: left;
    overflow: auto;
    padding: $spacing-h-sm;
  }

  &__chat-text {
    &__text {
      background-color: $color-bg-green-main;
      border-radius: 15px;
      padding: 15px;
      word-wrap: break-word;
      word-break: break-all;
      //width: fit-content;
      //height: fit-content;
      &-content {
        display: flex;
        justify-content: center;
        font-size: $font-size-sm;
        color: $color-text-base-inverse;
        line-height: $line-height-en;
        letter-spacing: 1px;
      }

      &-image {
        width: $font-size-sm;
        height: $font-size-sm;
      }
    }
  }

  &__chat-bottom-bar {
    position: absolute;
    bottom: 0;
    background-color: $color-bg-grey-dark;
    width: calc(100% - 20px);
    padding: $spacing-h-sm;
    //margin: 0 $spacing-h-sm;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    &--input {
      flex: 0 1 auto;
      width: 100%;
      background-color: $color-white;
      margin-right: $spacing-h-sm;
      height: 52px;
      line-height: 52px;
      border-radius: 8px;
      padding: 0 10px;
    }

    &--button {
      flex: 1 1;
      width: 100%;
      color: $color-bg-green-main;
      font-size: $font-size-base;
      display: flex !important;
      align-items: center;
      justify-content: center;
      padding: 0 !important;
    }
  }
}

.qz-chatting-room-iphoneX {
  //height: calc(100vh - (9 / 16 * 100vw) - 48px - 1.45 * 28px - 208px - 88px - 48px - 34px); //减去tab的高度
}

.none {
  display: none;
}
