@import '../../../../app';

.mini-gray {
  color: $color-grey-3;
}

.light-gray {
  color: $color-grey-2;
}

.gray {
  color: $color-grey-1;
}

.highlight {
  color: $color-highlight;
}

.qz-verify-confirm-modal-title {
  font-weight: bold;
  font-size: $font-size-lg;
  margin-bottom: $spacing-v-sm;
}

.qz-verify-confirm-modal-content_text {
  font-size: $font-size-sm;
  margin-top: $spacing-v-sm;
}

.qz-verify-confirm-modal-content_tip {
  text-align: left;
  font-size: $font-size-sm;
}
