@import '../../app.scss';

.qz-league-match-statistics-content {
  width: 100%;
  height: 100%;

  &-header {
    width: 100%;
    background-color: $color-bg-green-main;
    //position: fixed;
    //top: 0;
    z-index: 800;

    &-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;

      .img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      .text {
        font-size: $font-size-lg;
        color: $color-text-base-inverse;
        text-align: center;
        margin-left: $spacing-h-md;
      }
    }
  }
}

.qz-league-match-statistics-header {
  width: 100%;
  background-color: $color-bg-green-main;
  //position: fixed;
  //top: 0;
  z-index: $zindex-nav;
  position: relative;
  height: 70px;

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    position: fixed;
    background-color: $color-bg-green-main;
    padding: 0 10px;
    box-sizing: border-box;

    .img {
      height: 50px;
      width: 50px;
      min-height: 50px;
      min-width: 50px;
    }

    .img-round {
      border-radius: 50%;
    }

    .text {
      font-size: $font-size-lg;
      color: $color-text-base-inverse;
      text-align: center;
      margin-left: $spacing-h-md;
      margin-right: $spacing-h-md;
    }
  }
}
