
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gray {
  color: #666;
}
.highlight {
  color: #f74a4a;
}
.qz-idcard-verify-modal-content_text {
  font-size: 28px;
  margin: 12px 0;
}

.qz-idcard-verify-modal-content_input {
  margin-top: 40px;
  text-align: center;
}
